<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Donor</title>
  </head>
  <body class="container mt-3">
    <h1 class="text-center">Donor Registration</h1>
    <div class="container">
    <form action="{%url 'contact' %}" method="POST">
    {% csrf_token %}

  <div class="form-group">
    <label for="exampleFormControlInput1">First Name</label>
    <input type="text" name="name"  class="form-control" id="exampleFormControlInput1" placeholder="John" required>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Last Name</label>
    <input type="text" name="last_name" class="form-control" id="exampleFormControlInput1" placeholder="Doe" required>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Mobile Number</label>
    <input type="tel" name="mobile_number" class="form-control" id="exampleFormControlInput1" placeholder="9876543210" required>
  </div>

  <div class="form-group">
  
    <label for="exampleFormControlInput1">Blood Type</label>
    <select name="Blood_type" class="custom-select" id="inputGroupSelect04" required>
    <option selected>Choose...</option>
    <option value="A+">A+</option>
    <option value="B+">B+</option>
    <option value="AB+">AB+</option>
    <option value="A-">A-</option>
    <option value="B-">B-</option>
    <option value="AB-">AB-</option>
    <option value="O+">O+</option>
    <option value="O-">O-</option>
    
    
  </select>
   <!-- <input type="text" name="Blood_type" class="form-control" id="exampleFormControlInput1" placeholder="John Doe"> -->
  </div>

  <div class="form-group">
  
    <label for="exampleFormControlInput1">Gender</label>
    <select name="gender" class="custom-select" id="inputGroupSelect04" required>
    <option selected>Choose...</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Others">Others</option>
       
    
  </select>
   <!-- <input type="text" name="Blood_type" class="form-control" id="exampleFormControlInput1" placeholder="John Doe"> -->
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Email Address</label>
    <input type="text" name="email_id" class="form-control" id="exampleFormControlInput1" placeholder="johndoe@gmail.com" required>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">City</label>
    <input type="text" name="City" class="form-control" id="exampleFormControlInput1" placeholder="Bangalore" required>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Date of COVID</label>
    <input type="date" name="date_day" class="form-control" id="exampleFormControlInput1" required>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Add Details</label>
    <textarea class="form-control" name="Sample_text" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>

<input type="submit" value="Register" class="btn btn-block btn-secondary">

</form>
<br>
<br>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>